[Unit]
Description=Simsim TOFU ssh server
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/simsim -listen 0.0.0.0:22 -group users
StateDirectory=simsim
StateDirectoryMode=0700
WorkingDirectory=/var/lib/simsim

[Install]
WantedBy=multi-user.target
